<h1>Workflow Detail</h1>
<p>
  Plan: show a simulated workflow for an order. The order will be started manually.</p>
<p>
  This component will display the workflow steps for an order, allowing users to monitor progress and take actions.
</p>
<p>
  Idea: show progress for all parts in some sort of diagram.
</p>
<p>
For this demonstration I will only show the workflow for a limited number of parts, however, the component is designed to handle any number of parts and their respective workflows, since electronics are produced in thousands rather than individual units.
</p>

