/////* You can add global styles to this file, and also import other style files */
////
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  //font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.p-select,
.p-inputnumber,
.p-inputtext,
{
  width: 15rem;
}

.p-card {
  border: 2px solid #ddd;
}

.p-button-info{
  width: 10rem;
}

